<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Página inicial</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p></p>
    <a href='/register'><button>Registrar-se</button></a>
    <br>
    <a href='/login'><button>Login</button></a>
    <br>

    </div>
  </section>
</body>
</html>
