<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('/stylesheets/bootstrap.min.css') }}
    {{ style('/stylesheets/style.css') }}
    
</head>
<body>
    @!section('content')
    {{ script('/scripts/bootstrap.min.js') }}
    {{ script('/scripts/jquery-3.4.1.slim.min.js') }}
    {{ script('/scripts/popper.min.js') }}
    {{ script('https://kit.fontawesome.com/c25abe3fb5.js') }}
</body>
</html>
